<h1> Welcome Admin</h1>
<div class="form-group">
<button type="submit" class="btn btn-primary btn-block"  ng-click="send1()">View Courses</button>
</div>
<div class="form-group">
<button type="submit" class="btn btn-primary btn-block"  ng-click="send2()">Add Courses</button>
</div>
<div class="form-group">
<button type="submit" class="btn btn-primary btn-block"  ng-click="send3()">Drop Courses</button>
</div>


<div class="form-group">
    <button type="submit" class="btn btn-primary btn-block" ng-click="change()">Change Term</button>
</div>

<div ng-bind-html="myHTML1"></div>