<style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    
        
    <table style = "margin-top: 30px" >
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Section</th>
          <th>Instructor</th>
          <th>Timings</th>
          <th>Credits</th>
          <th>Status</th>
          <th>Available Seats</th>
          <th>Term</th>
        </tr>
        <tr ng-repeat='course in courses'>
          <td>{{course.name}}</td>
          <td>{{course.code}}</td>
          <td>{{course.section}}</td>
          <td>{{course.instructor}}</td>
          <td>{{course.days}}, {{course.starttime}}, {{course.endtime}}</td>
          <td>{{course.credits}}</td>
          <td>{{course.classstatus}}</td>
          <td>{{course.availableseats}}</td>
          <td>{{course.courseoffering}}</td>
        </tr>
        
      </table>
    
    
      <h4 style = "margin-top: 40px"> Please select the course from the following drop down menu</h4>
    
      <select  ng-model="coursesel" >
            <option ng-repeat='course in courses' value="{{course.name}},{{course.code}}.00{{course.section}} " >{{course.code}}, {{course.name}}, {{course.section}}</option>
          </select>
        
          <input type="button" class="btn btn-primary" value="Drop Course" ng-click="drop()" style = "margin-left: 20px"></input>
    
          <br>
          <br>
        <div ng-bind-html="myHTML1"></div>
        
        
        