<!-- <h2>Talal</h2> -->

<h2>{{userfirstname}}</h2>
<h2>{{userlastname}}</h2>
<h2>{{useremail}}</h2>
<h2>{{usercurrentcourses}}</h2>
<h2>{{userpastcourses}}</h2>
<h2>{{usermajor}}</h2>
<h2>{{GPA}}</h2>
<h2>{{address}}</h2>
<h2>{{phonenumber}}</h2>

<button type="Add Courses" class="btn btn-primary btn-block"  ng-click="send3()">View Courses</button>
<button type="Add Courses" class="btn btn-primary btn-block"  ng-click="send1()">Add Course</button>
<button type="Drop Courses" class="btn btn-primary btn-block"  ng-click="send2()">Drop Course</button>

<!-- <h2>Talal</h2>
<h2>Talal</h2>
<h2>Talal</h2>
<h2>Talal</h2> -->