<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>


<table >
    <tr>
      <th>Course Name</th>
      <th>Course Code</th> 
      <th>Timings</th>
      <th>Credits</th>
      <th>Status</th>
      <th>Available Seats</th>
      <th>Term</th>
    </tr>
    <tr ng-repeat='course in courses'>
      <td>{{course.name}}</td>
      <td>{{course.code}}</td>
      <td>{{course.days}}, {{course.starttime}}, {{course.endtime}}</td>
      <td>{{course.credits}}</td>
      <td>{{course.classstatus}}</td>
      <td>{{course.availableseats}}</td>
      <td>{{course.courseoffering}}</td>
    </tr>
    
  </table>